﻿@model Buffet.ViewModels.Evento.CadastraEventoViewModel
@{
    ViewData["Title"] = "Cadastro de evento";
}
<h1>@ViewData["Title"]</h1>

@if(Model.FormMensagensErro != null)
{
    <ul>
        @foreach(var msgErro in Model.FormMensagensErro)
         {
            <li>@msgErro</li>
         }
    </ul>
}

<form action="/Evento/Cadastrar" method="POST">
    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo:</label>
        <input required type="text" class="form-control" id="tipo" name="cpTipo" />
    </div>

    <div class="mb-3">
        <label for="desccricao" class="form-label">Descrição:</label>
        <input required type="text" class="form-control" id="descricao" name="cpDescricao" />
    </div>

    <div class="mb-3">
        <label for="data1" class="form-label">Data inicio:</label>
        <input required="" type="date" class="form-control" id="data1" name="cpData1" />
    </div>

    <div class="mb-3">
        <label for="data2" class="form-label">Data final:</label>
        <input required="" type="date" class="form-control" id="data2" name="cpData2" />
    </div>

    <div class="mb-3">
        <label for="cliente" class="form-label">Cliente:</label>
        <input required type="text" class="form-control" id="cliente" name="cpCliente" />
    </div>

    <div class="mb-3">
        <label for="situacao" class="form-label">Situação:</label>
        <input required type="text" class="form-control" id="situacao" name="cpSituacao" />
    </div>

    <div class="mb-3">
        <label for="local" class="form-label">Local:</label>
        <input required type="text" class="form-control" id="local" name="cpLocal" />
    </div>

    <div class="mb-3">
        <label for="observacao" class="form-label">Observação:</label>
        <input required type="text" class="form-control" id="observacao" name="cpObservacao" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Cadastrar</button>
    </div><br />
</form>
