﻿@model Buffet.ViewModels.Cliente.CadastrarClienteViewModel

@{
    ViewData["Title"] = "Cadastro de cliente";
}
<h1>@ViewData["Title"]</h1>

<a href="/"> Voltar</a> <br />

<form action="/Cliente/Cadastrar" method="POST">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input required type="text" class="form-control" id="nome" name="cpNome" />
    </div>

    <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <input required type="text" class="form-control" id="cpf" name="cpCpf" />
    </div>

    <div class="mb-3">
        <label for="data" class="form-label">Data Nascimento:</label>
        <input required="" type="date" class="form-control" id="data" name="cpData" />
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input required type="text" class="form-control" id="email" name="cpEmail" />
    </div>

    <div class="mb-3">
        <label for="endereco" class="form-label">Endereço:</label>
        <input required type="text" class="form-control" id="endereco" name="cpEndereco" />
    </div>

    <div>
        <label for="tipo">Tipo:</label>
        <select id="tipo" name="cpTipo" asp-items="Model.TipoCliente"></select>
    </div>

    <div class="mb-3">
        <label for="observacao" class="form-label">Observação:</label>
        <input required type="text" class="form-control" id="observacao" name="cpObservacao" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Cadastrar</button>
    </div><br />
</form>
