﻿@using Buffet.ViewModels.Cliente
@model Buffet.ViewModels.Cliente.ClienteViewModel

@{
    ViewData["Title"] = "Cliente";
}
<h1>@ViewData["Title"]</h1>

@if (Model.MensagemSucesso != null)
{
    <p><em>@Model.MensagemSucesso</em></p>
}

@if (Model.MensagemErro != null)
{
    <p><em>@Model.MensagemErro</em></p>
}

<div class="text-center">
    <a asp-controller="Home" asp-action="CadastraCliente"><button class="btn btn-primary bg-dark">Cadastrar</button></a>
    <!--<a asp-controller="Home" asp-action="EditaCliente"><button class="btn btn-primary bg-dark">Editar</button></a>-->
</div><br />

<div style="align-content:center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Observações</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Clientes cliente in Model.clientes)
            {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.cpf</td>
                <td>@cliente.email</td>
                <td>@cliente.observacao</td>
                <td><a href="/clientes/Editar/@cliente.Id">E</a></td>
                <td><a href="/clientes/Excluir/@cliente.Id">X</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>