﻿@using Buffet.ViewModels.Convidado
@model Buffet.ViewModels.Convidado.ConvidadoViewModel
    o
@{
    ViewData["Title"] = "Evento";
}
<h1>@ViewData["Title"]</h1>

<div style="align-content:center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Situação</th>
                <th>Observação</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Convidado convidado in Model.convidado)
            {
            <tr>
                <td>@convidado.Nome</td>
                <td>@convidado.Email</td>
                <td>@convidado.CPF</td>
                <td>@convidado.Situacao</td>
                <td>@convidado.Observacoes</td>
                <td><a href="#">X</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>