﻿@model Buffet.ViewModels.Evento.EditarEventoViewModel
@{
    ViewData["Title"] = "Edição de evento";
}

<h1>@ViewData["Title"]</h1>

@if(@Model.FormMensagensErro != null)
{
    <ul>
        @foreach (var msgErro in Model.FormMensagensErro)
         {
            <li>@msgErro</li>
         }
    </ul>
}

<form action="/Evento/Editar/@Model.Id" method="POST">
    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo:</label>
        <input required type="text" class="form-control" id="tipo" name="cpTipo" value = "@Model.Tipo" />
    </div>

    <div class="mb-3">
        <label for="desccricao" class="form-label">Descrição:</label>
        <input required type="text" class="form-control" id="descricao" name="cpDescricao" value="@Model.Descricao"/>
    </div>

    <div class="mb-3">
        <label for="data1" class="form-label">Data inicio:</label>
        <input required="" type="date" class="form-control" id="data1" name="cpData1" value="@Model.Inicio"/>
    </div>

    <div class="mb-3">
        <label for="data2" class="form-label">Data final:</label>
        <input required="" type="date" class="form-control" id="data2" name="cpData2" value="@Model.Termino"/>
    </div>

    <div class="mb-3">
        <label for="situacao" class="form-label">Situação:</label>
        <input required type="text" class="form-control" id="situacao" name="cpSituacao" @Model.Situacao/>
    </div>

    <div class="mb-3">
        <label for="local" class="form-label">Local:</label>
        <input required type="text" class="form-control" id="local" name="cpLocal" value="@Model.Local"/>
    </div>

    <div class="mb-3">
        <label for="observacao" class="form-label">Observação:</label>
        <input required type="text" class="form-control" id="observacao" name="cpObservacao" value="@Model.Observacoes"/>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Salvar</button>
    </div><br />
</form>
