﻿@using Buffet.ViewModels.Evento
@model Buffet.ViewModels.Evento.EventoViewModel

@{
    ViewData["Title"] = "Evento";
}
<h1>@ViewData["Title"]</h1>

@if (@Model.MensagemSucesso != null)
{
    <p><em>@Model.MensagemSucesso</em></p>
}

@if (@Model.MensagemErro != null)
{
    <p><em>@Model.MensagemErro</em></p>
}

<div class="text-center">
    <a asp-controller="Home" asp-action="CadastraEvento"><button class="btn btn-primary bg-dark">Cadastrar</button></a>
    <!--<a asp-controller="Home" asp-action="EditaEvento"><button class="btn btn-primary bg-dark">Editar</button></a>-->
</div>
<br />

<div style="align-content:center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Data inicio</th>
                <th>Data término</th>
                <th>Situação</th>
                <th>Local</th>
                <th>Convidados</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Evento evento in Model.Eventos)
            {
                <tr>
                    <td>@evento.tipo</td>
                    <td>@evento.Descricao</td>
                    <td>@evento.Inicio</td>
                    <td>@evento.Termino</td>
                    <td>@evento.situacao</td>
                    <td>@evento.Local</td>
                    <td><a asp-controller="Home" asp-action="Convidados">Convidados</a></td>
                    <td><a href="/Eventos/Editar/@evento.Id">E</a></td>
                    <td><a href="/Eventos/Remover/@evento.Id">X</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>