﻿@model Buffet.ViewModels.Cliente.RemoverClienteViewModel

@{
    ViewData["Title"] = "Remove cliente";
}
<h1>@ViewData["Title"]</h1>

<a href="/"> Voltar</a> <br />

@if(Model.FormMensagensErro != null)
{
    <ul>
        @foreach (var msgErro in Model.FormMensagensErro)
        {
            <li>@msgErro</li>
        }
    </ul>
}

<form action="/Cliente/Remover/@Model.Id" method="POST">
    <p>Dados do cliente a ser removido</p>
    <ul>
        <li><strong>Id:</strong> @Model.Id</li>
        <li><strong>Nome:</strong> @Model.Nome</li>
        <li><strong>CPF:</strong> @Model.cpf</li>
        <li><strong>Data de Nascimento:</strong> @Model.data</li>
        <li><strong>Email:</strong> @Model.email</li>
        <li><strong>Endereço:</strong>@Model.endereco</li>
        <li><strong>Observação:</strong> @Model.observacao</li>
        <li><strong>Tipo:</strong> @Model.tipo</li>
    </ul>

    <p><strong>Atenção:</strong>Essa operação não pode ser desfeita!</p>

    <div class="text-center">
        <button type="submit" class="btn btn-primary bg-dark">Confirma</button>
    </div><br />
</form>
